﻿@{
ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Тестовое с компаниями</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Это решение тестового задания</h2>
        <p>
            Чтобы перейти к таблице введите в строку адреса
            https://localhost:7168/Companieses/index
        </p>
        <p><a class="btn btn-default" href="https://localhost:7168/Companieses/index">Или перейдите по ссылке;</a></p>
    </div>
</div>